<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>homepage</title>
  </head>
  <body>
    <p>Hello <%= User %></p>
    <% if (User === 'Stranger') {%>
      <a href='./signup'>Signup</a>
      <a href='./login'>Login</a>
    <% } %>
    <% if (User !== 'Stranger') {%>
      <p>There's not much here, but hopefully you will enjoy these emojis: 🤑😎🌚</p>
      <a href='/logout'>Logout</a>
    <% } %>
  </body>
</html>
