<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>signup</title>
  </head>
  <body>
    <% if (error) {%>
      <p><%= message %></p>
    <% } %>
    <form action='/' method='POST'>
      email:<input type='text' name='email'>
      password:<input type='password' name='password'>
      confirm password:<input type='password' name='confirmPassword'>
      <input type='submit' value='Signup'>
    </form>
  </body>
</html>
